<h1>Create Post</h1>
<form>
  <div class="row">
    <div class="large-12 columns">
      <label>
        Title
        <input type="text" name="title">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        Author
        <input type="text" name="author">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Content
        <textarea name="content"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="submit" class="button">
    </div>
  </div>
</form>
