<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Manager</title>
    <meta name="description" content="Backbone.js User Manager Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <h1 class="page-header">User Manager</h1>
      <div class="page"></div>
    </div>

    <script type="text/template" id="user-list-template">
      <a href="#/new" class="btn btn-primary">New User</a>
      <hr>
      <table class="table striped">
        <thead>
          <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% _.each(users, function(user) { %>
            <tr>
              <td><%= user.get('firstname') %></td>
              <td><%= user.get('lastname') %></td>
              <td><%= user.get('age') %></td>
              <td><a href="#/edit/<%= user.id %>" class="btn btn-primary">Edit</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="edit-user-template">
      <form class="edit-user-form">
        <legend><%= user ? 'Update' : 'Create' %> User</legend>
        <label>First Name</label>
        <input type="text" name="firstname" class="form-control" value="<%= user ? user.get('firstname') : '' %>">
        <label>Last Name</label>
        <input type="text" name="lastname" class="form-control" value="<%= user ? user.get('lastname') : '' %>">
        <label>Age</label>
        <input type="text" name="age" class="form-control" value="<%= user ? user.get('age') : '' %>">
        <hr>
        <input type="submit" class="btn btn-primary" value="<%= user ? 'Update' : 'Create' %>">
        <% if(user) { %>
          <input type="hidden" name="id" value="<%= user.id %>">
          <input type="submit" class="btn btn-danger delete" value="Delete">
        <% } %>
      </form>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
